.virtual-scroll-viewport {
    border: 1px solid #ccc;
    width: 100%;
  }
  cdk-virtual-scroll-viewport {
    height: 400px !important;
    display: block;
  }
   
  .template-item {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 12px;
    border-bottom: 1px solid #eee;
  }
  