<cdk-virtual-scroll-viewport
[itemSize]="itemHeight"
[style.height.px]="maxViewportHeight"
class="virtual-scroll-viewport"

>
<ng-container 
*cdkVirtualFor="let item of items; let i = index"
>
<ng-container *ngIf="itemTemplate; else defaultTemplate">
<div class="template-item"  [style.height.px]="itemHeight">
  <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{$implicit: item,index: i}"></ng-container>

</div>
</ng-container>
<ng-template #defaultTemplate>
<div class="default-item"  [style.height.px]="itemHeight">
  {{item}}
</div>
</ng-template>
</ng-container>
</cdk-virtual-scroll-viewport>