button {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.menu {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
}

.cdk-overlay-transparent-backdrop {
  background-color: transparent;
}
